<h1 style="width: 25%; margin: auto">ANGULAR</h1>
<br /><br />
<!--<courses></courses>
<app-author></app-author>
<app-favorite></app-favorite>
<app-title-case></app-title-case>
<br />
<app-course></app-course>

<app-favorite
  [is-favorite]="post.isFavorite"
  (change)="onFavoriteChange()"
></app-favorite>

<app-panel>
  <ng-container class="title"> This Title For Another Card. </ng-container>
  <ng-container class="text">
    This Text For Another Card Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Quibusdam, ipsa!
  </ng-container>
</app-panel>

<app-like [isLiked]="tweet.isLiked" [likeCount]="tweet.likeCount"> </app-like>

<div *ngIf="courses.length > 0; then listCourses; else noCourses"></div>

<ng-template #listCourses>List of Courses</ng-template>
<ng-template #noCourses>No Courses yet!</ng-template>

<div [hidden]="courses.length === 0">List of Courses</div>
<dir [hidden]="courses.length > 0">No Courses yet!</dir>

<ul class="nav nav-tabs">
  <li class="nav-item" (click)="viewMode = 'map'">
    <a
      class="nav-link active"
      [class.active]="viewMode === 'map'"
      aria-current="page"
      href="#"
      >Map View</a
    >
  </li>
  <li class="nav-item" (click)="viewMode = 'list'">
    <a class="nav-link" [class.active]="viewMode === 'list'" href="#"
      >List View</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">All Views</a>
  </li>
</ul>

<div>
  <div *ngIf="viewMode === 'map'">Map View Content</div>
  <div *ngIf="viewMode === 'list'">List View Content</div>
</div>

<br /><br /><br />

<ul class="nav nav-pills">
  <li class="nav-item">
    <a
      class="nav-link"
      [class.active]="viewMode === 'map'"
      aria-current="page"
      (click)="viewMode = 'map'"
      >Map</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [class.active]="viewMode === 'list'"
      (click)="viewMode = 'list'"
      >List</a
    >
  </li>
</ul>

<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchDefault>Default</div>
</div>

<button class="btn btn-success" (click)="loadCourses()">Load Courses</button>
<br />
<br />
<button class="btn btn-primary" (click)="addCourse()">Add Course</button> <br />
<br />
<ul class="list-group">
  <li
    *ngFor="let course of courses; trackBy: courseTrackBy; index as i"
    class="list-group-item"
  >
    {{ i }} - {{ course.name }}
  </li>
</ul>

<input type="text" [appInputFormat]="'lowercase'" />

<input type="text" appPhoneNumberFormat />

<app-zippy title="Shipping Detailt"> Shipping Detailt Content </app-zippy>
<app-zippy title="Billing Detailt"> Billing Detailt Content </app-zippy>

<app-contact-form></app-contact-form>

<app-course-form></app-course-form>

<app-signup-form></app-signup-form>

<app-course-form2></app-course-form2>

<app-change-password-form></app-change-password-form>

<app-posts></app-posts>

<app-followers></app-followers>-->

<app-nav-bar></app-nav-bar>

<router-outlet></router-outlet>
