<div class="container">
  <form [formGroup]="form">
    <div class="mb-3">
      <label for="oldPassword" class="form-label">Old Password</label>
      <input
        formControlName="oldPassword"
        name="oldPassword"
        type="password"
        class="form-control"
        id="oldPassword"
      />

      <div
        *ngIf="oldPassword.touched && oldPassword.invalid"
        class="alert alert-danger mt-1"
      >
        <div *ngIf="oldPassword.errors?.['required']">
          Old Password is Required
        </div>
        <div *ngIf="oldPassword.errors?.['minlength']">
          Old Password Should be minimum 3 characters
        </div>
        <div *ngIf="oldPassword.errors?.['invalidOldPassword']">
          Old Password Not Valid
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="newPassword" class="form-label">New Password</label>
      <input
        formControlName="newPassword"
        name="newPassword"
        type="password"
        class="form-control"
        id="newPassword"
      />

      <div
        *ngIf="newPassword.touched && newPassword.invalid"
        class="alert alert-danger mt-1"
      >
        <div *ngIf="newPassword.errors?.['required']">
          New Password is Required
        </div>
        <div *ngIf="newPassword.errors?.['minlength']">
          New Password Should be minimum 3 characters
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirm Password</label>
      <input
        formControlName="confirmPassword"
        name="confirmPassword"
        type="password"
        class="form-control"
        id="confirmPassword"
      />

      <div
        *ngIf="confirmPassword.touched && confirmPassword.invalid"
        class="alert alert-danger mt-1"
      >
        <div *ngIf="confirmPassword.errors?.['required']">
          Confirm Password is Required
        </div>
      </div>
      <div
        *ngIf="
          confirmPassword.valid && form.invalid && form.errors.matchPassword
        "
        class="alert alert-danger"
      >
        Password do not Match
      </div>
    </div>

    <p>{{ form.value | json }}</p>

    <button type="submit" class="btn btn-primary">Change Password</button>
  </form>
</div>
